In [15]:
import seaborn as sns


#

In [16]:
# loads test data
iris_df = sns.load_dataset("iris") # ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

print(iris_df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
print(iris_df.tail())

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [18]:
iris_df.loc[149] # Returns row 149

sepal_length          5.9
sepal_width           3.0
petal_length          5.1
petal_width           1.8
species         virginica
Name: 149, dtype: object

## THE LOC ATTRIBUTE

In [19]:
iris_df.loc[0] # Select the row at index 0

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [20]:
# Slicing
iris_df.loc[0:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [21]:
# Specific columns
print(iris_df.loc[0, ["sepal_length","sepal_width"]])

sepal_length    5.1
sepal_width     3.5
Name: 0, dtype: object

In [22]:
iris_df.loc[:5 , :'petal_length'] # Select all the rows from 0 to 5. Columns  up to petal lenght

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4
5           5.4          3.9           1.7

## THE ILOC ATTRIBUTE

loc to select specific rows of the DataFrame based on their integer position

In [23]:
print(iris_df.iloc[:4]) # Up to the 4th integer  position

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [24]:
iris_df.iloc[:5, :2] # Row up to 5, columns up to 2

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [25]:
import pandas as pd # Reading using pandas

In [26]:
df = pd.read_csv('iris.csv')

In [27]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa